@import "tailwindcss";
@source "../../../../shared/src";

/* ===== SCROLLBAR — hidden globally, scroll still works ===== */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge legacy */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
